html, body {
  background-color: #252729 !important;
  color: bisque !important;
  padding: 10px !important;
}

button.gwt-Button {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid bisque;
  font-style: italic;
}
button.gwt-Button.buttonFace{
  background-color: transparent;
}



.addPanel {
  margin: 10px 0px 15px 0px;
}

.gwt-Button-remove {
  width: 50px;
}

